@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Catatac implementation : © Timothée Pecatte <tim.pecatte@gmail.com>, Vincent Toper <vincent.toper@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * catatac.scss
 *
 * Catatac stylesheet
 *
 */
/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative; }

.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat; }

.noUi-connect {
  height: 100%;
  width: 100%; }

.noUi-origin {
  height: 10%;
  width: 10%; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto; }

.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: transform .3s;
  transition: transform .3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto; }

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB; }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: #3FB8AF; }

.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB; }

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed; }

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px; }

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px; }

:root {
  --catatacCardScale: 0.47; }

#pagemaintitletext .catatac-card,
#gameaction_status .catatac-card,
.player-board .catatac-card {
  position: absolute; }

.log-catatac-card-name {
  font-style: italic; }

.catatac-card {
  position: relative;
  width: calc(var(--catatacCardScale) * 312px);
  height: calc(var(--catatacCardScale) * 437px); }
  .catatac-card.unselectable {
    cursor: not-allowed;
    filter: grayscale(80%);
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden; }
  .catatac-card.selectable {
    cursor: pointer;
    box-shadow: 0px 0px 8px 2px #db2100; }
    .catatac-card.selectable:hover {
      transform: scale(1.1); }
  .catatac-card.selected {
    border: 2px solid #3cff00;
    margin: -2px;
    box-shadow: 0px 0px 10px 0px #2bff00;
    border-radius: 4px; }
  .catatac-card .catatac-card-wrapper {
    width: 312px;
    height: 437px;
    transform-origin: top left;
    transform: scale(var(--catatacCardScale));
    border-radius: 12px;
    box-shadow: 2px 2px 5px 2px black;
    background-image: url("img/base-game.jpg");
    background-size: 800% 600%;
    position: absolute;
    box-sizing: border-box; }
  .catatac-card[data-type="1-Charge"] .catatac-card-wrapper {
    background-position-x: 0%;
    background-position-y: 0%; }
  .catatac-card[data-type="1-Basic"] .catatac-card-wrapper {
    background-position-x: 14.2857142857%;
    background-position-y: 0%; }
  .catatac-card[data-type="1-Sprint"] .catatac-card-wrapper {
    background-position-x: 28.5714285714%;
    background-position-y: 0%; }
  .catatac-card[data-type="1-Stop"] .catatac-card-wrapper {
    background-position-x: 42.8571428571%;
    background-position-y: 0%; }
  .catatac-card[data-type="2-Capture"] .catatac-card-wrapper {
    background-position-x: 57.1428571429%;
    background-position-y: 0%; }
  .catatac-card[data-type="2-Charge"] .catatac-card-wrapper {
    background-position-x: 71.4285714286%;
    background-position-y: 0%; }
  .catatac-card[data-type="2-Basic"] .catatac-card-wrapper {
    background-position-x: 85.7142857143%;
    background-position-y: 0%; }
  .catatac-card[data-type="2-Sprint"] .catatac-card-wrapper {
    background-position-x: 100%;
    background-position-y: 0%; }
  .catatac-card[data-type="3-Capture"] .catatac-card-wrapper {
    background-position-x: 0%;
    background-position-y: 20%; }
  .catatac-card[data-type="3-Charge"] .catatac-card-wrapper {
    background-position-x: 14.2857142857%;
    background-position-y: 20%; }
  .catatac-card[data-type="3-Basic"] .catatac-card-wrapper {
    background-position-x: 28.5714285714%;
    background-position-y: 20%; }
  .catatac-card[data-type="3-Smash"] .catatac-card-wrapper {
    background-position-x: 42.8571428571%;
    background-position-y: 20%; }
  .catatac-card[data-type="4-Capture"] .catatac-card-wrapper {
    background-position-x: 57.1428571429%;
    background-position-y: 20%; }
  .catatac-card[data-type="4-Charge"] .catatac-card-wrapper {
    background-position-x: 71.4285714286%;
    background-position-y: 20%; }
  .catatac-card[data-type="4-Basic"] .catatac-card-wrapper {
    background-position-x: 85.7142857143%;
    background-position-y: 20%; }
  .catatac-card[data-type="4-Smash"] .catatac-card-wrapper {
    background-position-x: 100%;
    background-position-y: 20%; }
  .catatac-card[data-type="5-Capture"] .catatac-card-wrapper {
    background-position-x: 0%;
    background-position-y: 40%; }
  .catatac-card[data-type="5-Basic"] .catatac-card-wrapper {
    background-position-x: 14.2857142857%;
    background-position-y: 40%; }
  .catatac-card[data-type="5-Smash"] .catatac-card-wrapper {
    background-position-x: 28.5714285714%;
    background-position-y: 40%; }
  .catatac-card[data-type="5-Stop"] .catatac-card-wrapper {
    background-position-x: 42.8571428571%;
    background-position-y: 40%; }
  .catatac-card[data-type="6-Courage"] .catatac-card-wrapper {
    background-position-x: 57.1428571429%;
    background-position-y: 40%; }
  .catatac-card[data-type="6-Impact"] .catatac-card-wrapper {
    background-position-x: 71.4285714286%;
    background-position-y: 40%; }
  .catatac-card[data-type="6-Miracle"] .catatac-card-wrapper {
    background-position-x: 85.7142857143%;
    background-position-y: 40%; }
  .catatac-card[data-type="6-Basic"] .catatac-card-wrapper {
    background-position-x: 100%;
    background-position-y: 40%; }
  .catatac-card[data-type="7-Courage"] .catatac-card-wrapper {
    background-position-x: 0%;
    background-position-y: 60%; }
  .catatac-card[data-type="7-Impact"] .catatac-card-wrapper {
    background-position-x: 14.2857142857%;
    background-position-y: 60%; }
  .catatac-card[data-type="7-Miracle"] .catatac-card-wrapper {
    background-position-x: 28.5714285714%;
    background-position-y: 60%; }
  .catatac-card[data-type="7-Basic"] .catatac-card-wrapper {
    background-position-x: 42.8571428571%;
    background-position-y: 60%; }
  .catatac-card[data-type="8-Bingo"] .catatac-card-wrapper {
    background-position-x: 57.1428571429%;
    background-position-y: 60%; }
  .catatac-card[data-type="8-Courage"] .catatac-card-wrapper {
    background-position-x: 71.4285714286%;
    background-position-y: 60%; }
  .catatac-card[data-type="8-Fido"] .catatac-card-wrapper {
    background-position-x: 85.7142857143%;
    background-position-y: 60%; }
  .catatac-card[data-type="8-Basic"] .catatac-card-wrapper {
    background-position-x: 100%;
    background-position-y: 60%; }
  .catatac-card[data-type="0-Joker"] .catatac-card-wrapper {
    background-position-x: 0%;
    background-position-y: 80%; }
  .catatac-card[data-type="Back"] .catatac-card-wrapper {
    background-position-x: 14.2857142857%;
    background-position-y: 80%; }
  .catatac-card[data-type="Points-0-Green"] .catatac-card-wrapper {
    background-position-x: 28.5714285714%;
    background-position-y: 80%; }
  .catatac-card[data-type="Points-1-Blue"] .catatac-card-wrapper {
    background-position-x: 42.8571428571%;
    background-position-y: 80%; }
  .catatac-card[data-type="Points-1-Grey"] .catatac-card-wrapper {
    background-position-x: 57.1428571429%;
    background-position-y: 80%; }
  .catatac-card[data-type="Points-1-Yellow"] .catatac-card-wrapper {
    background-position-x: 71.4285714286%;
    background-position-y: 80%; }
  .catatac-card[data-type="Points-1-Red"] .catatac-card-wrapper {
    background-position-x: 85.7142857143%;
    background-position-y: 80%; }
  .catatac-card[data-type="Points-Black"] .catatac-card-wrapper {
    background-position-x: 100%;
    background-position-y: 80%; }
  .catatac-card[data-type="Points-2-Multi"] .catatac-card-wrapper {
    background-position-x: 0%;
    background-position-y: 100%; }
  .catatac-card[data-type="Points-White"] .catatac-card-wrapper {
    background-position-x: 14.2857142857%;
    background-position-y: 100%; }
  .catatac-card[data-type="Points-Back"] .catatac-card-wrapper {
    background-position-x: 28.5714285714%;
    background-position-y: 100%; }
  .catatac-card.fake-card .catatac-card-wrapper {
    background-position: 14.2857142857% 80%; }

.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em; }
  .icon-container .icon-1-black,
  .icon-container .icon-1-white,
  .icon-container .icon-2-black,
  .icon-container .icon-2-white,
  .icon-container .icon-3-black,
  .icon-container .icon-3-white,
  .icon-container .icon-4-black,
  .icon-container .icon-4-white,
  .icon-container .icon-5-black,
  .icon-container .icon-5-white,
  .icon-container .icon-6-black,
  .icon-container .icon-6-white,
  .icon-container .icon-7-black,
  .icon-container .icon-7-white,
  .icon-container .icon-8-black,
  .icon-container .icon-8-white {
    height: 1.4em;
    margin: -0.18em -0.1em -0.12em; }
  .icon-container .icon-cat-white,
  .icon-container .icon-cat-black {
    height: 2em;
    margin: -0.2em 0.1em -0.15em; }

#animation-coin {
  background: rgba(255, 255, 255, 0.747);
  padding: 4px 7px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 24px;
  font-family: "Garamond";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; }

.catatac-icon {
  background: url("img/icons.png");
  background-repeat: no-repeat; }
  .catatac-icon.icon-0-black {
    background: url("img/icons.png") no-repeat;
    background-position: 15.00815660685155% 1.0875475802066341%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-0-white {
    background: url("img/icons.png") no-repeat;
    background-position: 27.460576400217505% 1.0875475802066341%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-1-black {
    background: url("img/icons.png") no-repeat;
    background-position: 39.91299619358347% 1.0875475802066341%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-1-white {
    background: url("img/icons.png") no-repeat;
    background-position: 52.36541598694943% 1.0875475802066341%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-2-black {
    background: url("img/icons.png") no-repeat;
    background-position: 64.81783578031539% 1.0875475802066341%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-2-white {
    background: url("img/icons.png") no-repeat;
    background-position: 77.27025557368134% 1.0875475802066341%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-3-black {
    background: url("img/icons.png") no-repeat;
    background-position: 89.72267536704732% 1.0875475802066341%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-3-white {
    background: url("img/icons.png") no-repeat;
    background-position: 1.0875475802066341% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-4-black {
    background: url("img/icons.png") no-repeat;
    background-position: 13.539967373572596% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-4-white {
    background: url("img/icons.png") no-repeat;
    background-position: 25.992387166938553% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-5-black {
    background: url("img/icons.png") no-repeat;
    background-position: 38.44480696030451% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-5-white {
    background: url("img/icons.png") no-repeat;
    background-position: 50.89722675367048% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-6-black {
    background: url("img/icons.png") no-repeat;
    background-position: 63.34964654703643% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-6-white {
    background: url("img/icons.png") no-repeat;
    background-position: 75.80206634040239% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-7-black {
    background: url("img/icons.png") no-repeat;
    background-position: 88.25448613376835% 15.00815660685155%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-7-white {
    background: url("img/icons.png") no-repeat;
    background-position: 1.0875475802066341% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-8-black {
    background: url("img/icons.png") no-repeat;
    background-position: 13.539967373572596% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-8-white {
    background: url("img/icons.png") no-repeat;
    background-position: 25.992387166938553% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-cat-black {
    background: url("img/icons.png") no-repeat;
    background-position: 38.44480696030451% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-cat-white {
    background: url("img/icons.png") no-repeat;
    background-position: 50.89722675367048% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-coop {
    background: url("img/icons.png") no-repeat;
    background-position: 63.34964654703643% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-hand {
    background: url("img/icons.png") no-repeat;
    background-position: 1.1037527593818985% 1.1037527593818985%;
    background-size: 867.7966101694915%;
    aspect-ratio: 236 / 236; }
  .catatac-icon.icon-pass-1 {
    background: url("img/icons.png") no-repeat;
    background-position: 75.80206634040239% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-pass-2 {
    background: url("img/icons.png") no-repeat;
    background-position: 88.25448613376835% 27.460576400217505%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-replay {
    background: url("img/icons.png") no-repeat;
    background-position: 1.0875475802066341% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-sardine-black {
    background: url("img/icons.png") no-repeat;
    background-position: 13.539967373572596% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-sardine-green {
    background: url("img/icons.png") no-repeat;
    background-position: 25.992387166938553% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-set-chaos-black {
    background: url("img/icons.png") no-repeat;
    background-position: 95.67209775967413% 1.0183299389002036%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-chaos-white {
    background: url("img/icons.png") no-repeat;
    background-position: 95.67209775967413% 6.313645621181263%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-distraction-black {
    background: url("img/icons.png") no-repeat;
    background-position: 94.29735234215886% 14.052953156822811%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-distraction-white {
    background: url("img/icons.png") no-repeat;
    background-position: 94.29735234215886% 19.34826883910387%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-equations-black {
    background: url("img/icons.png") no-repeat;
    background-position: 94.29735234215886% 25.712830957230143%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-equations-white {
    background: url("img/icons.png") no-repeat;
    background-position: 94.29735234215886% 31.008146639511203%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-interferences-black {
    background: url("img/icons.png") no-repeat;
    background-position: 94.29735234215886% 37.372708757637476%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-interferences-white {
    background: url("img/icons.png") no-repeat;
    background-position: 94.29735234215886% 42.66802443991853%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-momentum-black {
    background: url("img/icons.png") no-repeat;
    background-position: 47.657841140529534% 49.032586558044805%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-momentum-white {
    background: url("img/icons.png") no-repeat;
    background-position: 52.953156822810584% 49.032586558044805%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-pizza-white {
    background: url("img/icons.png") no-repeat;
    background-position: 58.248472505091655% 49.032586558044805%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-sardines-black {
    background: url("img/icons.png") no-repeat;
    background-position: 63.543788187372705% 49.032586558044805%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-set-sardines-white {
    background: url("img/icons.png") no-repeat;
    background-position: 68.83910386965377% 49.032586558044805%;
    background-size: 2438.095238095238%;
    aspect-ratio: 84 / 84; }
  .catatac-icon.icon-skip {
    background: url("img/icons.png") no-repeat;
    background-position: 38.44480696030451% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-stockage-1 {
    background: url("img/icons.png") no-repeat;
    background-position: 50.89722675367048% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-stockage-2 {
    background: url("img/icons.png") no-repeat;
    background-position: 63.34964654703643% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-stockage-3 {
    background: url("img/icons.png") no-repeat;
    background-position: 75.80206634040239% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-stop-stockage {
    background: url("img/icons.png") no-repeat;
    background-position: 88.25448613376835% 39.91299619358347%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-token-flip {
    background: url("img/icons.png") no-repeat;
    background-position: 1.0875475802066341% 52.36541598694943%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-token-myself {
    background: url("img/icons.png") no-repeat;
    background-position: 13.539967373572596% 52.36541598694943%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-token-opponent {
    background: url("img/icons.png") no-repeat;
    background-position: 25.992387166938553% 52.36541598694943%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }
  .catatac-icon.icon-token-steal {
    background: url("img/icons.png") no-repeat;
    background-position: 38.44480696030451% 52.36541598694943%;
    background-size: 979.9043062200957%;
    aspect-ratio: 209 / 209; }

#pagemaintitletext .catatac-meeple,
#gameaction_status .catatac-meeple {
  position: absolute; }

.catatac-meeple {
  display: inline-block;
  vertical-align: middle; }

.catatac-meeple[data-type="token"] {
  width: 90px;
  height: 90px; }
  .catatac-meeple[data-type="token"] .catatac-meeple-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: rotateY(0deg); }
    .catatac-meeple[data-type="token"] .catatac-meeple-inner .catatac-meeple-front,
    .catatac-meeple[data-type="token"] .catatac-meeple-inner .catatac-meeple-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      transform: rotateY(0deg);
      box-sizing: border-box;
      border-radius: 50%;
      box-shadow: 2px 2px 5px 2px black;
      background-image: url("img/token.jpg");
      background-size: 200% 100%;
      border: 1px solid black;
      background-clip: border-box; }
    .catatac-meeple[data-type="token"] .catatac-meeple-inner .catatac-meeple-back {
      background-position: 100% 0%;
      transform: rotateY(180deg); }
  .catatac-meeple[data-type="token"][data-state="1"] .catatac-meeple-inner {
    transform: rotateY(180deg); }

#catatac-main-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  #catatac-main-container #catatac-board {
    position: relative;
    width: 1479px;
    height: 289px; }
    #catatac-main-container #catatac-board #team-white,
    #catatac-main-container #catatac-board #team-black {
      background: white;
      border: 1px solid black;
      position: absolute;
      bottom: 4px;
      left: 8px;
      border-radius: 5px;
      padding: 2px 0px;
      font-size: 14px;
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 3px black; }
      #catatac-main-container #catatac-board #team-white .catatac-icon,
      #catatac-main-container #catatac-board #team-black .catatac-icon {
        width: 27px; }
      #catatac-main-container #catatac-board #team-white .icon-container,
      #catatac-main-container #catatac-board #team-black .icon-container {
        margin: -3px 4px; }
    #catatac-main-container #catatac-board #team-black {
      left: auto;
      right: 8px;
      background: black;
      border-color: #c4c3c3;
      color: white;
      box-shadow: 1px 1px 3px #bbbbbb; }
    #catatac-main-container #catatac-board .board-slot {
      position: absolute;
      z-index: 2;
      width: 165px;
      height: 222px;
      top: 33px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #catatac-main-container #catatac-board .board-slot#white-points {
        left: 52px; }
      #catatac-main-container #catatac-board .board-slot#white-hideout {
        left: 253px; }
      #catatac-main-container #catatac-board .board-slot#white-street {
        left: 454px; }
      #catatac-main-container #catatac-board .board-slot#neutral-street {
        left: 655px; }
      #catatac-main-container #catatac-board .board-slot#black-street {
        left: 856px; }
      #catatac-main-container #catatac-board .board-slot#black-hideout {
        left: 1058px; }
      #catatac-main-container #catatac-board .board-slot#black-points {
        left: 1259px; }
    #catatac-main-container #catatac-board #catatac-board-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      #catatac-main-container #catatac-board #catatac-board-background #catatac-board-background-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s;
        transform: rotateX(0deg); }
        #catatac-main-container #catatac-board #catatac-board-background #catatac-board-background-inner #catatac-board-background-day,
        #catatac-main-container #catatac-board #catatac-board-background #catatac-board-background-inner #catatac-board-background-night {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          /* Safari */
          backface-visibility: hidden;
          transform: rotateX(0deg);
          box-sizing: border-box;
          border-radius: 8px;
          box-shadow: 1px 1px 5px 1px black;
          background-image: url("img/mat.jpg");
          background-size: 100% 200%;
          border: 1px solid black;
          background-clip: border-box; }
        #catatac-main-container #catatac-board #catatac-board-background #catatac-board-background-inner #catatac-board-background-night {
          background-position: 0% 100%;
          transform: rotateX(180deg); }
      #catatac-main-container #catatac-board #catatac-board-background[data-side="night"] #catatac-board-background-inner {
        transform: rotateX(180deg); }
  #catatac-main-container #catatac-cards-wrapper {
    display: flex;
    height: 230.0961538462px;
    width: 1479px;
    margin-top: 10px; }
    #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper {
      width: 490px;
      flex-shrink: 0;
      display: flex;
      background: #ffffffad;
      border: 1px solid black;
      box-shadow: 1px 1px 3px black;
      border-radius: 8px;
      justify-content: space-evenly;
      align-items: center; }
      #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper .card-slot {
        width: 150px;
        height: 210.0961538462px;
        border-radius: 8px;
        border: 1px solid black;
        box-sizing: border-box;
        background: #ffffffad;
        position: relative; }
        #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper .card-slot[data-n]::before {
          content: attr(data-n);
          position: absolute;
          left: 50%;
          top: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid black;
          box-shadow: 1px 1px 1px black;
          translate: -50% -50%;
          background: #e6e6e6;
          font-weight: bold;
          font-size: 20px; }
      #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper #catatac-deck {
        background-image: url("img/base-game.jpg");
        background-size: 800% 600%;
        background-position: 14.2857142857% 80%;
        position: relative; }
        #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper #catatac-deck .catatac-card {
          position: absolute;
          top: 1px;
          left: 1px; }
      #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper #catatac-points-deck {
        background-image: url("img/base-game.jpg");
        background-size: 800% 600%;
        background-position: 28.5714285714% 100%; }
      #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper #catatac-discard {
        position: relative;
        opacity: 0.6;
        filter: grayscale(80%);
        -webkit-transform: translateZ(0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden; }
        #catatac-main-container #catatac-cards-wrapper #catatac-deck-discard-wrapper #catatac-discard .catatac-card {
          position: absolute;
          top: 1px;
          left: 1px; }
    #catatac-main-container #catatac-cards-wrapper #catatac-hand {
      flex-grow: 1;
      margin-left: 10px;
      display: flex;
      background: #ffffffad;
      border: 1px solid black;
      box-shadow: 1px 1px 3px black;
      border-radius: 8px;
      justify-content: space-evenly;
      align-items: center; }

.player-board .player-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px; }
  .player-board .player-info > div {
    border: 1px solid #918e8e;
    width: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px; }
    .player-board .player-info > div.player-team {
      width: 40px; }
  .player-board .player-info .icon-cat-white,
  .player-board .player-info .icon-cat-black {
    width: 35px; }
  .player-board .player-info .icon-hand {
    width: 35px; }

#popin_showSettings_underlay {
  background-color: black !important;
  opacity: 0.6; }

.catatac_popin {
  background-color: #ebd5bd;
  position: relative; }
  .catatac_popin .catatac_popin_closeicon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 90%;
    z-index: 2;
    color: transparent !important; }
    .catatac_popin .catatac_popin_closeicon:hover {
      transform: scale(1.1); }
    .catatac_popin .catatac_popin_closeicon i {
      margin-top: -2px; }

/* Undo here logs */
#logs .log.notif_newUndoableStep {
  margin-top: 0px; }
  #logs .log.notif_newUndoableStep .roundedbox {
    display: none;
    text-align: center;
    cursor: pointer;
    background-color: #c4c2c2;
    font-size: 12px;
    padding: 2px 5px; }
    #logs .log.notif_newUndoableStep .roundedbox::before, #logs .log.notif_newUndoableStep .roundedbox::after {
      content: "\f0e2";
      font: normal normal normal 12px/1 FontAwesome;
      margin: 0px 10px; }
  #logs .log.notif_newUndoableStep.selectable .roundedbox {
    display: block; }

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0px;
  display: none !important; }
  .chatwindowlogs_zone .log.notif_newUndoableStep.selectable {
    display: block !important; }
    .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner {
      text-align: center;
      cursor: pointer;
      background-color: #c4c2c2;
      font-size: 12px;
      padding: 2px 5px; }
      .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::before, .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::after {
        content: "\f0e2";
        font: normal normal normal 12px/1 FontAwesome;
        margin: 0px 10px; }
      .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
        display: none; }

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through; }

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important; }

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a; }

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.phantom {
  visibility: hidden; }

#pagemaintitletext {
  position: relative; }

#restartAction {
  margin-left: 15px; }

[data-undobuttons="0"] #btnUndoLastStep {
  display: none; }

[data-undobuttons="2"] #btnRestartTurn {
  display: none; }

#pagesubtitle:not(:empty) {
  padding: 3px 0px; }

#customActions .bgabutton.disabled {
  opacity: 0.5;
  background: linear-gradient(rgba(189, 189, 189, 0.59), rgba(166, 165, 165, 0.45));
  cursor: not-allowed;
  pointer-events: all; }

#customActions .bgabutton.selected,
#income-track-header .bgabutton.selected {
  background: linear-gradient(rgba(89, 219, 78, 0.87), rgba(87, 149, 59, 0.89)); }

#maintitlebar_content .action-button ~ .action-button {
  margin-left: 15px; }

#customActions .action-button.bgabutton,
#customActions .bgabutton {
  text-overflow: initial; }

#ebd-body.help-mode .tooltipable {
  cursor: help; }

.help-marker {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  z-index: 900;
  border: 1px solid black;
  border-radius: 50%; }
  .help-marker svg {
    width: 20px;
    height: 20px; }

#ebd-body:not(.help-mode) .help-marker {
  opacity: 0;
  pointer-events: none; }

/* Hide the "You may note something for next time..." popup that would appear. */
#turnBasedNotesIncent {
  display: none; }

/*# sourceMappingURL=catatac.css.map */
