#pagemaintitletext,
#gameaction_status,
.player-board {
    .catatac-card {
        position: absolute;
    }
}

.log-catatac-card-name {
    font-style: italic;

    // .icon-container {
    //     margin-left: -0.2em;
    // }
}

.catatac-card {
    position: relative;
    width: calc(var(--catatacCardScale) * 312px);
    height: calc(var(--catatacCardScale) * 437px);

    &.unselectable {
        cursor: not-allowed;
        filter: grayscale(80%);
        -webkit-transform: translateZ(0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }

    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
        box-shadow: 0px 0px 8px 2px #00a8db;
    }
    &.selectable-useful {
        translate: 0% -10%;
    }

    &.selected {
        border: 2px solid rgb(60, 255, 0);
        margin: -2px;
        box-shadow: 0px 0px 10px 0px rgb(43, 255, 0);
        border-radius: 4px;
    }

    .catatac-card-wrapper {
        width: 312px;
        height: 437px;
        transform-origin: top left;
        transform: scale(var(--catatacCardScale));
        border-radius: 12px;
        box-shadow: 2px 2px 5px 2px black;
        background-image: url("img/base-game.jpg");
        background-size: 800% 600%;
        position: absolute;
        box-sizing: border-box;

        // display: flex;
        // justify-content: center;
        // align-items: baseline;
    }

    @each $type in $cardTypes {
        $i: index($cardTypes, $type) - 1;
        &[data-type="#{$type}"] .catatac-card-wrapper {
            background-position-x: ($i % 8) * 100% / 7;
            background-position-y: (($i - ($i % 8)) / 8) * 100% / 5;
        }
    }

    @each $type in $baseBoostersCardTypes {
        $i: index($baseBoostersCardTypes, $type) - 1;
        &[data-type="#{$type}"] .catatac-card-wrapper {
            background-image: url("img/base-boosters.jpg");
            background-size: 600% 500%;
            background-position-x: ($i % 6) * 100% / 5;
            background-position-y: (($i - ($i % 6)) / 6) * 100% / 4;
        }
    }

    &.fake-card .catatac-card-wrapper {
        background-position: 1 * 100%/7 4 * 100%/5;
    }
    &.fake-card.points .catatac-card-wrapper {
        background-position: 2 * 100%/7 5 * 100%/5;
    }
}

.card-tooltip {
    font-size: 20px;
    padding: 0px;
    margin: -2px;

    h2 {
        text-align: center;
        background: rgb(219, 245, 255);
        padding: 8px 12px;
        margin: 0px;
        font-size: 24px;
    }

    .card-desc:not(:empty) {
        margin-top: 5px;
        border-top: 1px solid grey;
        padding: 5px 7px;
    }
}
