.icon-container {
  display: inline-block;
  // vertical-align: bottom;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;

  .icon-canal-era,
  .icon-rail-era {
    height: 1.4em;
  }

  .icon-income {
    height: 1.2em;

    text-align: center;
    span {
      font-family: "Garamond";
      font-size: 0.6em;
      line-height: 1.6em;
    }
  }

  .icon-coin {
    height: 1.2em;
  }

  .icon-coal {
    height: 1.4em;
  }

  .icon-iron {
    height: 1.4em;
  }

  .icon-coal-mine,
  .icon-cotton-mill,
  .icon-iron-works,
  .icon-port,
  .icon-shipyard {
    height: 1.4em;
  }
}

#animation-coin {
  background: rgba(255, 255, 255, 0.747);
  padding: 4px 7px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 24px;
  font-family: "Garamond";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

@mixin icon-0-black {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-0-white {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-1-black {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-1-white {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-2-black {
  background: url("img/icons.png") no-repeat;
  background-position: 50.89722675367048% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-2-white {
  background: url("img/icons.png") no-repeat;
  background-position: 63.34964654703643% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-3-black {
  background: url("img/icons.png") no-repeat;
  background-position: 75.80206634040239% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-3-white {
  background: url("img/icons.png") no-repeat;
  background-position: 88.25448613376835% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-4-black {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-4-white {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-5-black {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-5-white {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-6-black {
  background: url("img/icons.png") no-repeat;
  background-position: 50.89722675367048% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-6-white {
  background: url("img/icons.png") no-repeat;
  background-position: 63.34964654703643% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-7-black {
  background: url("img/icons.png") no-repeat;
  background-position: 75.80206634040239% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-7-white {
  background: url("img/icons.png") no-repeat;
  background-position: 88.25448613376835% 13.539967373572596%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-8-black {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-8-white {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-cat-black {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-cat-white {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-coop {
  background: url("img/icons.png") no-repeat;
  background-position: 50.89722675367048% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-pass-1 {
  background: url("img/icons.png") no-repeat;
  background-position: 63.34964654703643% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-pass-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 75.80206634040239% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-replay {
  background: url("img/icons.png") no-repeat;
  background-position: 88.25448613376835% 25.992387166938553%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-sardine-black {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-sardine-green {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-set-chaos-black {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 1.0183299389002036%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-chaos-white {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 6.313645621181263%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-distraction-black {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 12.678207739307535%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-distraction-white {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 17.973523421588595%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-equations-black {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 24.338085539714868%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-equations-white {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 29.633401221995925%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-interferences-black {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 35.997963340122205%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-interferences-white {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 41.293279022403254%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-momentum-black {
  background: url("img/icons.png") no-repeat;
  background-position: 35.997963340122205% 47.657841140529534%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-momentum-white {
  background: url("img/icons.png") no-repeat;
  background-position: 41.293279022403254% 47.657841140529534%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-pizza-white {
  background: url("img/icons.png") no-repeat;
  background-position: 46.58859470468432% 47.657841140529534%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-sardines-black {
  background: url("img/icons.png") no-repeat;
  background-position: 51.88391038696538% 47.657841140529534%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-sardines-white {
  background: url("img/icons.png") no-repeat;
  background-position: 57.17922606924644% 47.657841140529534%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-skip {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stockage-1 {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stockage-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 50.89722675367048% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stockage-3 {
  background: url("img/icons.png") no-repeat;
  background-position: 63.34964654703643% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stop-stockage {
  background: url("img/icons.png") no-repeat;
  background-position: 75.80206634040239% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-flip {
  background: url("img/icons.png") no-repeat;
  background-position: 88.25448613376835% 38.44480696030451%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-myself {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 50.89722675367048%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-opponent {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 50.89722675367048%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-steal {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 50.89722675367048%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}

.catatac-icon {
  background: url("img/icons.png");
  background-repeat: no-repeat;

  &.icon-0-black {
    @include icon-0-black;
  }

  &.icon-0-white {
    @include icon-0-white;
  }

  &.icon-1-black {
    @include icon-1-black;
  }

  &.icon-1-white {
    @include icon-1-white;
  }

  &.icon-2-black {
    @include icon-2-black;
  }

  &.icon-2-white {
    @include icon-2-white;
  }

  &.icon-3-black {
    @include icon-3-black;
  }

  &.icon-3-white {
    @include icon-3-white;
  }

  &.icon-4-black {
    @include icon-4-black;
  }

  &.icon-4-white {
    @include icon-4-white;
  }

  &.icon-5-black {
    @include icon-5-black;
  }

  &.icon-5-white {
    @include icon-5-white;
  }

  &.icon-6-black {
    @include icon-6-black;
  }

  &.icon-6-white {
    @include icon-6-white;
  }

  &.icon-7-black {
    @include icon-7-black;
  }

  &.icon-7-white {
    @include icon-7-white;
  }

  &.icon-8-black {
    @include icon-8-black;
  }

  &.icon-8-white {
    @include icon-8-white;
  }

  &.icon-cat-black {
    @include icon-cat-black;
  }

  &.icon-cat-white {
    @include icon-cat-white;
  }

  &.icon-coop {
    @include icon-coop;
  }

  &.icon-pass-1 {
    @include icon-pass-1;
  }

  &.icon-pass-2 {
    @include icon-pass-2;
  }

  &.icon-replay {
    @include icon-replay;
  }

  &.icon-sardine-black {
    @include icon-sardine-black;
  }

  &.icon-sardine-green {
    @include icon-sardine-green;
  }

  &.icon-set-chaos-black {
    @include icon-set-chaos-black;
  }

  &.icon-set-chaos-white {
    @include icon-set-chaos-white;
  }

  &.icon-set-distraction-black {
    @include icon-set-distraction-black;
  }

  &.icon-set-distraction-white {
    @include icon-set-distraction-white;
  }

  &.icon-set-equations-black {
    @include icon-set-equations-black;
  }

  &.icon-set-equations-white {
    @include icon-set-equations-white;
  }

  &.icon-set-interferences-black {
    @include icon-set-interferences-black;
  }

  &.icon-set-interferences-white {
    @include icon-set-interferences-white;
  }

  &.icon-set-momentum-black {
    @include icon-set-momentum-black;
  }

  &.icon-set-momentum-white {
    @include icon-set-momentum-white;
  }

  &.icon-set-pizza-white {
    @include icon-set-pizza-white;
  }

  &.icon-set-sardines-black {
    @include icon-set-sardines-black;
  }

  &.icon-set-sardines-white {
    @include icon-set-sardines-white;
  }

  &.icon-skip {
    @include icon-skip;
  }

  &.icon-stockage-1 {
    @include icon-stockage-1;
  }

  &.icon-stockage-2 {
    @include icon-stockage-2;
  }

  &.icon-stockage-3 {
    @include icon-stockage-3;
  }

  &.icon-stop-stockage {
    @include icon-stop-stockage;
  }

  &.icon-token-flip {
    @include icon-token-flip;
  }

  &.icon-token-myself {
    @include icon-token-myself;
  }

  &.icon-token-opponent {
    @include icon-token-opponent;
  }

  &.icon-token-steal {
    @include icon-token-steal;
  }
}
