.icon-container {
  display: inline-block;
  // vertical-align: bottom;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;

  .icon-1-black,
  .icon-1-white,
  .icon-2-black,
  .icon-2-white,
  .icon-3-black,
  .icon-3-white,
  .icon-4-black,
  .icon-4-white,
  .icon-5-black,
  .icon-5-white,
  .icon-6-black,
  .icon-6-white,
  .icon-7-black,
  .icon-7-white,
  .icon-8-black,
  .icon-8-white {
    height: 1.4em;
    margin: -0.18em -0.1em -0.12em;
  }

  .icon-cat-white,
  .icon-cat-black {
    height: 2em;
    margin: -0.2em 0.1em -0.15em;
  }
}

#animation-coin {
  background: rgba(255, 255, 255, 0.747);
  padding: 4px 7px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 24px;
  font-family: "Garamond";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

@mixin icon-0-black {
  background: url("img/icons.png") no-repeat;
  background-position: 15.00815660685155% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-0-white {
  background: url("img/icons.png") no-repeat;
  background-position: 27.460576400217505% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-1-black {
  background: url("img/icons.png") no-repeat;
  background-position: 39.91299619358347% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-1-white {
  background: url("img/icons.png") no-repeat;
  background-position: 52.36541598694943% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-2-black {
  background: url("img/icons.png") no-repeat;
  background-position: 64.81783578031539% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-2-white {
  background: url("img/icons.png") no-repeat;
  background-position: 77.27025557368134% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-3-black {
  background: url("img/icons.png") no-repeat;
  background-position: 89.72267536704732% 1.0875475802066341%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-3-white {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-4-black {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-4-white {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-5-black {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-5-white {
  background: url("img/icons.png") no-repeat;
  background-position: 50.89722675367048% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-6-black {
  background: url("img/icons.png") no-repeat;
  background-position: 63.34964654703643% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-6-white {
  background: url("img/icons.png") no-repeat;
  background-position: 75.80206634040239% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-7-black {
  background: url("img/icons.png") no-repeat;
  background-position: 88.25448613376835% 15.00815660685155%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-7-white {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-8-black {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-8-white {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-cat-black {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-cat-white {
  background: url("img/icons.png") no-repeat;
  background-position: 50.89722675367048% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-coop {
  background: url("img/icons.png") no-repeat;
  background-position: 63.34964654703643% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-hand {
  background: url("img/icons.png") no-repeat;
  background-position: 1.1037527593818985% 1.1037527593818985%;
  background-size: 867.7966101694915%;
  aspect-ratio: 236 / 236;
}
@mixin icon-pass-1 {
  background: url("img/icons.png") no-repeat;
  background-position: 75.80206634040239% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-pass-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 88.25448613376835% 27.460576400217505%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-replay {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-sardine-black {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-sardine-green {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-set-chaos-black {
  background: url("img/icons.png") no-repeat;
  background-position: 95.67209775967413% 1.0183299389002036%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-chaos-white {
  background: url("img/icons.png") no-repeat;
  background-position: 95.67209775967413% 6.313645621181263%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-distraction-black {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 14.052953156822811%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-distraction-white {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 19.34826883910387%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-equations-black {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 25.712830957230143%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-equations-white {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 31.008146639511203%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-interferences-black {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 37.372708757637476%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-interferences-white {
  background: url("img/icons.png") no-repeat;
  background-position: 94.29735234215886% 42.66802443991853%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-momentum-black {
  background: url("img/icons.png") no-repeat;
  background-position: 47.657841140529534% 49.032586558044805%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-momentum-white {
  background: url("img/icons.png") no-repeat;
  background-position: 52.953156822810584% 49.032586558044805%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-pizza-white {
  background: url("img/icons.png") no-repeat;
  background-position: 58.248472505091655% 49.032586558044805%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-sardines-black {
  background: url("img/icons.png") no-repeat;
  background-position: 63.543788187372705% 49.032586558044805%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-set-sardines-white {
  background: url("img/icons.png") no-repeat;
  background-position: 68.83910386965377% 49.032586558044805%;
  background-size: 2438.095238095238%;
  aspect-ratio: 84 / 84;
}
@mixin icon-skip {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stockage-1 {
  background: url("img/icons.png") no-repeat;
  background-position: 50.89722675367048% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stockage-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 63.34964654703643% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stockage-3 {
  background: url("img/icons.png") no-repeat;
  background-position: 75.80206634040239% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-stop-stockage {
  background: url("img/icons.png") no-repeat;
  background-position: 88.25448613376835% 39.91299619358347%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-flip {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0875475802066341% 52.36541598694943%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-myself {
  background: url("img/icons.png") no-repeat;
  background-position: 13.539967373572596% 52.36541598694943%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-opponent {
  background: url("img/icons.png") no-repeat;
  background-position: 25.992387166938553% 52.36541598694943%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}
@mixin icon-token-steal {
  background: url("img/icons.png") no-repeat;
  background-position: 38.44480696030451% 52.36541598694943%;
  background-size: 979.9043062200957%;
  aspect-ratio: 209 / 209;
}

.catatac-icon {
  background: url("img/icons.png");
  background-repeat: no-repeat;

  &.icon-0-black {
    @include icon-0-black;
  }

  &.icon-0-white {
    @include icon-0-white;
  }

  &.icon-1-black {
    @include icon-1-black;
  }

  &.icon-1-white {
    @include icon-1-white;
  }

  &.icon-2-black {
    @include icon-2-black;
  }

  &.icon-2-white {
    @include icon-2-white;
  }

  &.icon-3-black {
    @include icon-3-black;
  }

  &.icon-3-white {
    @include icon-3-white;
  }

  &.icon-4-black {
    @include icon-4-black;
  }

  &.icon-4-white {
    @include icon-4-white;
  }

  &.icon-5-black {
    @include icon-5-black;
  }

  &.icon-5-white {
    @include icon-5-white;
  }

  &.icon-6-black {
    @include icon-6-black;
  }

  &.icon-6-white {
    @include icon-6-white;
  }

  &.icon-7-black {
    @include icon-7-black;
  }

  &.icon-7-white {
    @include icon-7-white;
  }

  &.icon-8-black {
    @include icon-8-black;
  }

  &.icon-8-white {
    @include icon-8-white;
  }

  &.icon-cat-black {
    @include icon-cat-black;
  }

  &.icon-cat-white {
    @include icon-cat-white;
  }

  &.icon-coop {
    @include icon-coop;
  }

  &.icon-hand {
    @include icon-hand;
  }

  &.icon-pass-1 {
    @include icon-pass-1;
  }

  &.icon-pass-2 {
    @include icon-pass-2;
  }

  &.icon-replay {
    @include icon-replay;
  }

  &.icon-sardine-black {
    @include icon-sardine-black;
  }

  &.icon-sardine-green {
    @include icon-sardine-green;
  }

  &.icon-set-chaos-black {
    @include icon-set-chaos-black;
  }

  &.icon-set-chaos-white {
    @include icon-set-chaos-white;
  }

  &.icon-set-distraction-black {
    @include icon-set-distraction-black;
  }

  &.icon-set-distraction-white {
    @include icon-set-distraction-white;
  }

  &.icon-set-equations-black {
    @include icon-set-equations-black;
  }

  &.icon-set-equations-white {
    @include icon-set-equations-white;
  }

  &.icon-set-interferences-black {
    @include icon-set-interferences-black;
  }

  &.icon-set-interferences-white {
    @include icon-set-interferences-white;
  }

  &.icon-set-momentum-black {
    @include icon-set-momentum-black;
  }

  &.icon-set-momentum-white {
    @include icon-set-momentum-white;
  }

  &.icon-set-pizza-white {
    @include icon-set-pizza-white;
  }

  &.icon-set-sardines-black {
    @include icon-set-sardines-black;
  }

  &.icon-set-sardines-white {
    @include icon-set-sardines-white;
  }

  &.icon-skip {
    @include icon-skip;
  }

  &.icon-stockage-1 {
    @include icon-stockage-1;
  }

  &.icon-stockage-2 {
    @include icon-stockage-2;
  }

  &.icon-stockage-3 {
    @include icon-stockage-3;
  }

  &.icon-stop-stockage {
    @include icon-stop-stockage;
  }

  &.icon-token-flip {
    @include icon-token-flip;
  }

  &.icon-token-myself {
    @include icon-token-myself;
  }

  &.icon-token-opponent {
    @include icon-token-opponent;
  }

  &.icon-token-steal {
    @include icon-token-steal;
  }
}
