:root {
  --catatacCardScale: 0.47;
}

$cardTypes: "1-Charge" "1-Basic" "1-Sprint" "1-Stop" "2-Capture" "2-Charge" "2-Basic" "2-Sprint" "3-Capture" "3-Charge"
  "3-Basic" "3-Smash" "4-Capture" "4-Charge" "4-Basic" "4-Smash" "5-Capture" "5-Basic" "5-Smash" "5-Stop" "6-Courage"
  "6-Impact" "6-Miracle" "6-Basic" "7-Courage" "7-Impact" "7-Miracle" "7-Basic" "8-Bingo" "8-Courage" "8-Fido" "8-Basic"
  "0-Joker" "Back" "Points-Green-0" "Points-Blue-1" "Points-Grey-1" "Points-Yellow-1" "Points-Red-1" "Points-Black"
  "Points-Multi-2" "Points-White" "Points-Back" "0-JokerExclusive";

$baseBoostersCardTypes: "1-Brute" "2-Bicycle" "3-Dribble" "4-Dribble" "5-Rat" "6-Zzzz" "7-Beurgh" "8-Ninja"
  "Alpha-Bengail" "Points-Purple-2" "1-Synchro" "2-Duo" "3-Duo" "4-Accident" "5-Reflexes" "6-Mission" "7-Schrodinger"
  "8-Agile" "Alpha-Ragdol" "Points-YellowMomentum-1" "AlphaWhite-Angora" "AlphaWhite-MaineCoon" "AlphaBlack-Lykoi"
  "Black-Back" "White-Back" "AlphaBlack-Angora" "AlphaWhite-Manx" "AlphaBlack-Laperm" "Points-Pasta-Left"
  "Points-Pasta-Right";
